*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
#possibilities{
    margin: 60px 0;
}
.main-title h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.main-title p{
    font-size: 24px;
    margin-bottom: 30px;
}
.possibilities-data{
    display: flex;
}
.possibilities-data .data img{
    width: 70Px;
    height: 80px;
}
.possibilities-data .data h3{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.possibilities-data .data P{
    font-size: 19PX;
}
#Work{
    margin: 80px 0;
}
.main-title-work h2{
    font-size: 40px;
    margin-left: 680px;  
}
.work-data{
    display: flex;   
}
.work-data .img img{
    width: 600px;
    height: 600px;
}
.work-data .work-detail{
    margin: 0 70px;
}
.work-data .work-detail h3{
    padding: 10px;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 14px;
}
.work-data .work-detail p{
    padding: 10px;
    font-size: 19PX;
}
.button p{
    width: 150px;
    height: 40px;
    margin-top: 90px;
    text-align: center;
    border-radius: 5px;
    color:white;
    background-color: rgb(221, 99, 160);
}
#control{
    margin: 60px 0;
}
.control-data .main-title h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.main-title p{
    font-size: 24px;
    margin-bottom: 30px;
}
#control .container{
    display: flex;
}
.control-img img{
    width: 600px;
    height: 600px;
}
.inner-data{
    display: flex;
}
.inner-data h3{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.inner-data p{
    font-size: 19PX;
}
.inner-data .mobile{
    padding: 5px;
}
.control-data .inner-data img{
    width: 70Px;
    height: 80px;
}
#safe{
    margin: 60px 0;
}
#safe .container {
    display: flex;
}
.safe-data .main-title h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.main-title p{
    font-size: 24px;
    margin-bottom: 30px;
}
.safe-img img{
    width: 500px;
    height: 600px;
}
.safe-data{
    padding: 0 70px;
}
.safe-data .inner-data img{
    width: 70Px;
    height: 80px;
}
#results{
    margin: 60px 0;
}
.main-title h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.main-title p{
    font-size: 24px;
    margin-bottom: 50px;
}
.projects {
    width: 1200px;
    height: 800px;
    justify-content: space-between;
}
.projects,
.Logo,
.Label,
.Mobile,
.Package,
.Interior,
.Web, img{
    display: inline-block;
    margin: 5px;
}
.projects, img{
    font-size: 20px;
}
.projects, h3{
    margin-top: 10px;
}
.btn p{
    width: 230px;
    height: 50px;
    margin: 0 auto ;
    text-align: center;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(221, 99, 160);
}





