*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
#possibilities{
    margin: 60px 0;
}
.main-title h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.main-title p{
    font-size: 24px;
    margin-bottom: 30px;
}
.possibilities-data{
    display: flex;
}
.possibilities-data .data img{
    width: 70Px;
    height: 80px;
}
.possibilities-data .data h3{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.possibilities-data .data P{
    font-size: 19PX;
}
#Work{
    margin: 80px 0;
}
.main-title-work h2{
    font-size: 40px;
    margin-left: 680px;  
}
.work-data{
    display: flex;   
}
.work-data .img img{
    width: 600px;
    height: 600px;
}
.work-data .work-detail{
    margin: 0 70px;
}
.work-data .work-detail h3{
    padding: 10px;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 14px;
}
.work-data .work-detail p{
    padding: 10px;
    font-size: 19PX;
}
.button p{
    width: 150px;
    height: 40px;
    margin-top: 90px;
    text-align: center;
    border-radius: 5px;
    color:white;
    padding: 10px;
    background-color: #f20091;
}
#control{
    margin: 60px 0;
}
#control .container{
    display: flex;
}
.control-img img{
    width: 600px;
    height: 600px;
}
.inner-data{
    display: flex;
}
.inner-data h3{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.inner-data p{
    font-size: 19PX;
}
.inner-data .mobile{
    padding: 5px;
}
.control-data .inner-data img{
    width: 70Px;
    height: 80px;
}
#safe{
    margin: 60px 0;
}
#safe .container {
    display: flex;
}
.safe-img img{
    width: 500px;
    height: 600px;
}
.safe-data{
    padding: 0 70px;
}
.safe-data .inner-data img{
    width: 70Px;
    height: 80px;
}
#results{
    margin: 60px 0;
}
.projects {
    display: flex;
    flex-wrap: wrap;  
    row-gap: 10px;
    column-gap: 20px;
    justify-content: space-between;
}
.projects
.Logo,
.Label,
.Mobile,
.Package,
.Interior,
.Web{
    width: 32.2%;
   
}
.projects, img{
    font-size: 20px;
    width: 100%;
}
.project-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0 ;
}
button{
    border: none;
    border-radius: 5px;
    color:white;
    padding: 15px 28px;
    font-weight: bold;
    font-size: 20px;
    background-color: #f20091;
}

.additional{
    background-color: #1f2836;
    color: white;
}
.help{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 50px;
    
}
a h4{
    width: 500px;
    font-size: 24px;
    color: white;
    text-align: left;
}





