*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
}
.box1{
    background: linear-gradient(to right, red,yellow);
}
.box2{
    background: linear-gradient(to top right,pink,black );
}
.box3{
    background: linear-gradient(50deg,green,yellow);
}
.box4{
    background: linear-gradient(pink,brown 60%, green);
}
.box5{
    background: linear-gradient(rgba(255,0,0,0.4),rgba(255,255,0,0.3 ));
}
.container{
    width:100%;
    height: 100vh;
    border: 1px solid black;
}
.overlay1, .overlay2, .overlay3, .overlay4{
    width: 50%;
    height: 100%;
    border: 2px solid red;  
    float: left; 
}
.overlay1{
    background: linear-gradient(to right, rgba(255,0,0,0.6),rgba(255,255,0,0.1)), url(../images/nature.jpeg);
    background-position: center center;
    background-size: cover;
}
.overlay2{
    background-image: url(../images/nature.jpeg);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.overlay2::before{
    content: '';
    background: linear-gradient(to right, rgba(255,0,0,0.6),rgba(255,255,0,0.1));
    inset: 0;
    position: absolute;
}
.overlay3{
    background: linear-gradient(to right, rgba(255,0,0,0.6),rgba(255,255,0,0.1));
}
.overlay3 img,
.overlay4 img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center center;
    z-index: -1; 
    position: relative;
}
.overlay4{
    position: relative;
}
.overlay4::before{
    content: '';
    background: linear-gradient(to right, rgba(255,0,0,0.6),rgba(255,255,0,0.1));
    position: absolute;
    inset: 0;
}