*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
header .container{
    display: flex;
    justify-content: space-between;  
    padding: 20px 0;
}
header nav > ul {
    display: flex;
    list-style-type: none;    
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    padding: 12px;
    display: block;
}
nav li {
    position: relative;
}
.megamenu {
    position: absolute;
    list-style-type: none;
    background-color: gray;
    display: none;
    top: 60px;
    right: 50px;
} 
.megamenu li {
    position: relative;
}
.submenu{
    position: absolute;
    top: 0;
    left:125px; 
    width: 120px;
    background-color: grey;
    display: none;
    list-style-type: none;
} 
header nav > ul  li:hover .megamenu{
    display: flex;
}  
.megamenu li:hover .submenu{
    display: flex;
}
